labb1/.vs
labb1/labb1/debug
labb1/labb1/release

labb2/.vs
labb2/labb2/debug
labb2/labb2/release

labb3/.vs
labb3/labb3/debug
labb3/labb3/release

labb4/.vs
labb4/labb4/debug
labb4/labb4/release

laxar/demolax1/.vs
laxar/demolax1/demolax1/debug
laxar/demolax1/demolax1/release

laxar/demolax2/.vs
laxar/demolax2/demolax2/debug
laxar/demolax2/demolax2/release

laxar/demolax4/.vs
laxar/demolax4/demolax4/debug
laxar/demolax4/demolax4/release